# Dependencies
node_modules/

# Turbo
.turbo/

# Build outputs
dist/
build/
.next/
out/

# Environment variables
.env
*.env
.env.*
!.env.example

# Prisma
/libs/prisma/generated/
schema.prisma.backup

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Misc
.vercel
.cache
.npm
.pnpm-debug.log*

# Agent
.agent/